<body>
  <header class="header">
    <div id="header__logo"> 
      <b (click)="ToHome()"><label style="color:#EB5F27"><span>B</span>aker</label><label style="color:#009E84"><span>H</span>ouse</label></b>
    </div>
    <nav id="header__navigation">
        <td>
            <tr (click)="ToHome()">Главная</tr>
            <tr (click)="ToProducts()">Каталог</tr>
            <tr (click)="ToAbout()">О нас</tr>
            <tr (click)="ToContacts()">Контакты</tr>
            <tr (click)="checkAPI()">Проверка API</tr>
        </td>
    </nav>
    <div id="header__cart">
        <td>
            <tr *ngIf="user === undefined" (click)="ToAuth()">Войти</tr>
            <tr *ngIf="user !== undefined" style="cursor:auto;">Приветствуем, {{user.username}}</tr>
            <tr *ngIf="user !== undefined" (click)="LogOut()">Выйти</tr>
            <tr (click)="ToCart()">Корзина</tr>
        </td>
    </div>
  </header>
  <div *ngIf="check === true">
    <div *ngFor="let a of users">
      <p>{{users.indexOf(a)}}. login: {{a.username}}, password: {{a.password}}</p>
    </div>
  </div>
  <div id="wrapper">
    <router-outlet></router-outlet>
  </div>
</body>