<main>
    <div id="line"></div>
    <div id="about">
        <span>
            <p>Добро пожаловать в наш интернет-магазин выпечки!</p>

            <p>Мы - команда профессиональных кондитеров, которые создают неповторимые 
            десерты с любовью и старанием уже более 10 лет. Мы знаем, что вкус и 
            качество нашей выпечки - это залог нашего успеха, поэтому мы используем 
            только свежие и качественные ингредиенты, чтобы дарить Вам самые яркие и 
            запоминающиеся вкусовые впечатления.</p>

            <p>Наш интернет-магазин базируется в Минске, где мы имеем свою производственную 
            линию, оборудованную по последнему слову техники, и магазин, где Вы можете 
            приобрести свежую выпечку, только что испеченную нашими мастерами.</p>

            <p>Мы гордимся нашими кондитерами, которые воплощают свои мечты и творческие задумки 
            в каждом изделии. У нас Вы найдете широкий ассортимент выпечки на любой вкус и 
            бюджет - от классических тортов и пирогов до современных десертов и капкейков.</p>

            <p>Наша цель - не просто продавать выпечку, а доставлять радость и наслаждение 
            каждому нашему клиенту. Мы предлагаем удобный сервис доставки по Минску и 
            области, а также возможность оформления индивидуальных заказов на торты и пироги 
            для особенных событий.</p>

            <p>Мы благодарим Вас за то, что выбрали наш интернет-магазин выпечки, и 
            обещаем продолжать радовать Вас нашими вкусными изделиями на протяжении 
            многих лет!</p>
        </span>
        <button (click)="ToProducts()">За покупками!</button>
    </div>
</main>
