<main class="content">
    <div id="content__main">
        <img src="./assets/main.png" alt="">
        <h1><span>Д</span>ля наслаждения нужно совсем чуть-чуть...</h1>
        <h4>Мы предлагаем только самые свежие и качественные ингредиенты, чтобы каждый кусочек нашей выпечки приносил Вам радость.
            У нас Вы найдете разнообразие сладостей - от традиционных пирогов и печенья до оригинальных капкейков и маффинов. 
            Наслаждайтесь нашей выпечкой и позвольте себе немного удовольствия каждый день.</h4>
        <button (click)="ToProducts()">Перейти в магазин</button>
        
    </div>
    <div id="content__about">
        <div id="content__about__img-wrapper">
            <h2>О нас</h2>
            <img src="./assets/chefkef2.png" alt="">
        </div>
        

        <div id="content__about__text-wrapper">
            <h4><p>Десять лет назад, в центре Минска открылся небольшой магазин выпечки, который с тех пор завоевал 
                сердца многих гурманов. Этот магазин был основан человеком, который любил выпечку с самого детства и 
                всегда мечтал поделиться своей любовью к ней с другими людьми.</p>

                <p>Вначале магазин был небольшим и скромным, но благодаря высокому качеству своих продуктов и прекрасному 
                обслуживанию, магазин быстро привлек большое количество клиентов. Спустя некоторое время, магазин переехал 
                в более просторные и удобные помещения, и в настоящее время является одним из лучших интернет-магазинов выпечки 
                в Минске.</p>
                
                <p>В магазине представлены самые разнообразные виды выпечки, от классических пирожных и тортов, до более 
                экзотических десертов. Каждый день свежая выпечка готовится на заказ, и клиенты всегда могут быть уверены в том, 
                что они получат только самое лучшее.</p>
                
                <p>Но не только качество продуктов делает этот магазин особенным. Прекрасное обслуживание и забота о клиентах 
                также являются ключевыми факторами, которые привлекают людей.</p></h4>
                <button (click)="ToContacts()">Связаться с нами</button>

        </div>
        
    </div>

    <div id="content__products-header">
        <h2>Каталог</h2>
        <button (click)="ToProducts()">Посмотреть все</button>
    </div>

    <div id="content__products">            
        <div id="content__products__product" *ngFor="let a of products.slice(0,3)">
            <div id="circle">
                <img src="{{a.src}}" alt="">
            </div>
            <h3>{{a.name}}</h3>
            <h4>{{a.description}}</h4>
            <h3>{{a.price}} BYN</h3>
            <button (click)="toCart(a)">В корзину</button>
        </div>
    </div>
</main>
<footer class="footer">
    <div id="line"></div>
    <div id="footer__info">
        <h3><p>Адрес: г. Минск, Проспект Независимости 13</p>
            <p>Связаться с нами: bakerhouse_shop@gmail.com</p>
            <p>Телефон: +375(29)645-43-94</p>
        </h3>
        <h4>
            <p>Время работы:</p>
            <p>пн-пт: 9:00-20:00</p>
            <p>сб-вс: 11:00-20:00</p>
        </h4>
    </div>
</footer>

